{%load static%}
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <title>Crypto Project</title>
    <link href="{%static '/css/page.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body style="background-image:url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');background-size: cover">



    <header>

        <div class="view" style="background-image: url(); ; background-size: 100%; background-position: center center;">
            <div class="mask rgba-gradient align-items-center">
                <div class="container">
                    <div class="row mt-5">

                        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="color: aliceblue;">
                                PRIME APARTMENTS </h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s" style="color: aliceblue;">Contact us:9234XXXXXX</h6>

                        </div>

                        <div class="col-md-6 col-xl-5 mb-4">

                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body">

                                    <div class="text-center">
                                        <h3 class="white-text">
                                            <i class="fas fa-user black-text"></i> OTP GENERATOR</h3>
                                        <hr class="hr-light">
                                    </div>
                                    <form action="otp/" method="post"> {%csrf_token%}
                                        <div class="md-form">
                                            <i class="fas fa-envelope prefix white-text active"></i>
                                            <input type="number" id="form2" class="white-text form-control" name='sms_code'>
                                            <label for="form2" class="active" style="color: black;">SMS CODE</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fas fa-lock prefix white-text active"></i>
                                            <input type="password" id="form4" class="white-text form-control" name='p_key'>
                                            <label for="form4" style="color: black;">Owner's key</label>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button class="btn btn-indigo" style="background-color: rgba(89, 0, 255, 0.637);">Submit</button>
                                    </form>
                                    <hr class="hr-light mb-3 mt-4">
                                    <div class="inline-ul text-center">
                                        <a class="p-2 m-2 tw-ic">
                                            <i class="fab fa-twitter white-text"></i>
                                        </a>
                                        <a class="p-2 m-2 li-ic">
                                            <i class="fab fa-linkedin-in white-text"> </i>
                                        </a>
                                        <a class="p-2 m-2 ins-ic">
                                            <i class="fas fa-instagram white-text"> </i>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </header>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>

</html>